<template>
    <nav class="navbar bg-primary fixed-top">
        <a class="navbar-brand" @click="reset()" href="#" style="color:white;">App notas VIC</a>
    </nav>

    <div class="container" v-if="veralumnos">
        <br />
        <h3>Alumnos de VIC</h3>
        <br />
        <br />
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="alumno in alumnos" v-bind:key="alumno.id" @click="mostrarNotas(alumno.id, alumno.nombre + ' ' + alumno.apellidos)"> 
                    <th scope="row">{{alumno.id}}</th>
                    <td>{{alumno.nombre}}</td>
                    <td>{{alumno.apellidos}}</td>
                    <td>{{alumno.email}}</td>
                </tr>
            </tbody>
        </table> 
    </div>
    <div class="container" v-if="vernotas">
        <br />
        <h3>Notas del alumo {{ nombreAlumno }}</h3>
        <br />
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Concepto</th>
                    <th scope="col">Nota</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="nota in notas" v-bind:key="nota.concepto"> 
                    <th scope="row">{{nota.concepto}}</th>
                    <td><input v-model="nota.nota"></td>
                </tr>
            </tbody>
        </table>
        <div>
            <button @click="guardarNotas()" class="btn btn-primary">Guardar</button>
        </div>
        <br />
        <br />
        <div class="alert alert-success alert-dismissible fade show" role="alert" v-if="veralerta">
            Los datos se han guardado correctamente!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="reset()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
     
</template>
<script>
    import axios from 'axios';
    export default {
        data() {
            return {
                alumnos : axios.get('http://0.0.0.0:8080/vic-be-1.0/alumno')
                                .then(res => {
                                    this.alumnos = res.data;
                                }),
                notas : [],
                veralumnos: true,
                vernotas: false,
                veralerta: false,
                nombreAlumno : '',
                idAlumno : 0
            };
        },
        methods: {
            mostrarNotas(idAlumno, nombreAlumno) {
                axios.get('http://0.0.0.0:8080/vic-be-1.0/nota/' + idAlumno)
                    .then(res => {
                        this.notas = res.data;
                        this.nombreAlumno = nombreAlumno;
                        this.idAlumno = idAlumno;
                    })
                this.vernotas = true;
                this.veralumnos = false;
            },
            guardarNotas(){
                axios.put('http://0.0.0.0:8080/vic-be-1.0/nota/' + this.idAlumno, this.notas)
                    .then(res => {
                        this.veralerta = res.data;
                    })
            },
            reset() {
                this.vernotas = false;
                this.veralerta = false;
                this.veralumnos = true;
                this.notas = [];
                this.idAlumno = 0;
                this.nombreAlumno = '';
            }
        },
    }
</script>
<style>
    h3 {
        margin: 40px 0 0;;
    }
    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

    .closebtn:hover {
        color: black;
    }
</style>