<template>    
  <div id="app">      
    <Alumnos />    
  </div>  
</template>    
<script>  
  import Alumnos from './components/Alumnos.vue' 
  export default {    
    name: 'app',    
    components: {      
      Alumnos    
    }  
  }  
</script>    
<style>  
  #app {    
    font-family: 'Avenir', Helvetica, Arial, sans-serif;    
    -webkit-font-smoothing: antialiased;    
    -moz-osx-font-smoothing: grayscale;    
    text-align: left;    
    color: #2c3e50;    
    margin-top: 60px;  
  }  
</style>
